.estiramiento-contenedor-principal h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--main-color);
}

.estiramiento-contenedor-secundario{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.estiramniento-img {
  max-width: 60%;
  max-height: auto;
  border-radius: 10px;
}