/* ****************** Grid ****************** */
.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  gap: 2%;
  justify-content: center;
}

.contenedor-buscador {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.buscador {
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 1.1rem;
}

.contenedor-tarjeta {
  width: 280px;
  height: 400px;
  background-color: var(--ligth-color);
  border-radius: 10px;
  padding: 1%;
  color: var(--dark-color);
  margin: 1%;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-tarjeta h2 {
  text-align: center;
  margin-bottom: 1%;
}

.imagen-tarjeta {
  width: 260px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 2%;
}
