.introduccion-contenedor-principal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: var(--ligth-color);
  border-radius: 10px;
  padding: 1%;
}

.introduccion-img {
  width: 38%;
  height: 65vh;
  object-fit: cover;
  border-radius: 10px;
  margin: 1%;
}

.introduccion-contenedor-texto {
  margin: 1%;
  width: 58%;
  background-color: var(--ligth-color);
  border-radius: 10px;
}

.introduccion-contenedor-texto {
  font-size: 1.5em;
  line-height: 1.3em;
  color: var(--dark-color);
}

.introduccion-contenedor-texto h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .introduccion-contenedor-principal {
    flex-direction: column;
    align-items: center;
  }

  .introduccion-img {
    width: 95%;
    height: auto;
    margin: 1%;
    border-radius: 10px;
  }

  .introduccion-contenedor-texto {
    margin: 1%;
    width: 95%;
  }
}
