.introduccion-contenedor-principal h1 {
  font-size: 2.5rem;
  color: var(--main-color);
  text-align: center;
}

.introduccion-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
