.temporizador {
  position: fixed;
  left: 2rem;
  top: 8rem;
  width: 11rem;
  background-color: var(--main-color);
  border: 3px solid var(--dark-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.fila-temporizador,
.fila-botones {
  display: flex;
  justify-content: center;
}

.temporizador-titulos {
  margin-top: 0.2rem;
  font-size: 0.55rem;
  text-align: center;
  font-weight: bold;
}

.contenedor-datos {
  width: 2.7rem;
  height: 2rem;
  margin: 2px 3px 5px 3px;
  background-color: rgb(225, 231, 219);
  border-radius: 5px;
  border: 1px solid var(--dark-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1.05rem;
  font-family: "Scientific Calculator LCD", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-boton {
  width: 2rem;
  height: 2rem;
  margin: 5px 3px;
  background-color: var(--ligth-color);
  border-radius: 50%;
  border: 1px solid var(--dark-color);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icono {
  width: 1rem;
}
